
<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db.Name" 
         connectionString="data source=CORDOBA;initial catalog=Northwind;persist security info=True;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>
